* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #333f4f;
}

.wrapper {
	background: #fff;
	min-width: 380px;
	height: 120px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.wrapper span {
	width: 100%;
	text-align: center;
	color: #333f4f;
	background: #fff;
	font-size: 55px;
	font-weight: 600;
	cursor: pointer;
}

.wrapper .num {
	font-size: 50px;
	border-right: 2px solid rgba(0, 0, 0, 0.2);
	border-left: 2px solid rgba(0, 0, 0, 0.2);
	pointer-events: none;
}
