* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	width: 420px;
}
.box {
	position: relative;
	width: 160px;
	height: 160px;
	border: 2px solid #333;
	border-radius: 12px;
}
.box.hovered {
	border: 2px dashed #ccc;
}
.box .image {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-image: url('img.jpeg');
	background-size: cover;
	background-position: center;
}
