body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	width: 480px;
}
.box {
	width: 160px;
	height: 160px;
	border: 2px solid #000;
}
.box.hovered {
	border: 2px dashed #ccc;
}
.box .image {
	width: 100%;
	height: 100%;
	background-image: url('img.jpeg');
	background-size: cover;
	background-position: center;
}
